html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: -0.1px;
  color: #0F0508;

  background-color: #FDFDFD;

  text-rendering: optimizeLegibility;
  text-size-adjust: 100;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.1px;
  margin-top: 1.2rem;
  margin-bottom: 1.8rem;
}
h1 {
  font-family: 'Bitter';
  font-size: 2.8rem;
}
h2 {
  font-family: 'Bitter';
  font-weight: 400;
  font-size: 2.4rem;
  color: #44555F;
}
h3 {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 2.2rem;
}
h4 {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 1.8rem;
  color: #44555F;
}

small {
  color: #959CA1;
}

a {
  font-weight: 600;
  color: #0068B3;
  text-decoration: none;
}
a:hover {
  color: #007DC2;
  text-decoration: underline;
}

/**
 * Colors:
 *   text: #0F0508
 *   primary: #003C77
 *   secondary: #8B0100
 *   accent: #007DC2
 */

/* NAVBAR */
.navbar {
  background-color: #007DC2;
  color: #FFFFFF;
  width: 100%;
  height: 14.4rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.23);
}

.navbar-inner {
  background-color: #0068B3;
  width: 100%;
  height: 7.2rem;

  display: flex;
  flex-direction: column;
}

/* SEARCHBAR */
.searchBar {
  outline: none;
}
.searchBar:focus {
  outline: none;
}
.searchBar::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.87);
}
.searchBar::-moz-placeholder {
  color: rgba(255, 255, 255, 0.87);
}
.searchBar:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.87);
}
.searchBar:-moz-placeholder {
  color: rgba(255, 255, 255, 0.87);
}

/* CARD */
.card {
  position: relative;
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
  overflow: hidden;
}
.card-content {
  padding: 1.2rem;
}

.card-content h4 {
  margin: 0;
}
.card-content p {
  margin: 0.6rem 0 0;
}

.card-title {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.33);
  color: #FFFFFF;
  text-align: center;
  width: 100%;

  transition: transform 0.2s ease-in-out;
  transform: translateY(0);
}
.card:hover .card-title {
  transform: translateY(100%);
}

.card-background {
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out,
              transform 0.6s ease-in-out;
  opacity: 0.72;
  transform: scale(1.04);
}
.card:hover .card-background {
  opacity: 1;
  transform: scale(1);
}

/* FOOTER */
.footer {
  background-color: #E4E5E7;
  font-size: 1.4rem;
  color: #BCBDC0;
  text-align: center;
  height: 9.6rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
